
#avoid any customer specific items
gitops-manifests/configurations/hub-cluster/ldap
gitops-manifests/configurations/hub-cluster/certificates

*.patch
*.orig

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates


# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/



# Local History for Visual Studio
.localhistory/
